<app-modal modalTitle="Gestion de la tâche" (close)="closeModal()" (confirm)="sendTask()">
  <form id="manage-task-form" [formGroup]="taskForm" (submit)="sendTask()">
    <app-input-field name="task-title" placeholder="Faire les courses" label="Nom de la tâche" formControlName="title"/>
    <app-input-field name="task-description" placeholder="Description de la tache" label="Description de la tâche"
                     formControlName="description"/>
    <div class="mt-4 flex items-center gap-2">
      <p>Date limite :</p>
      <input class="border" name="task-deadline" formControlName="deadline" type="datetime-local">
    </div>
    <div class="flex flex-col gap-4">
    <label class="field-label mt-4">Étiquettes</label>
    <ul class="tag-list">
      <li class="tag" *ngFor="let tag of editTask?.tags; let i = index">
        <span>
        {{ tag }}
        </span>
        <button (click)="deleteTag(i)">X</button>
      </li>
    </ul>
    <select class="mt-1" formControlName="selectedTag" (change)="addTag()">
      <option value="Ajouter une étiquette">Ajouter une étiquette</option>
      <option *ngFor="let tag of currentTagList()" [value]="tag.id">{{ tag.name }}</option>
    </select>
      <label class="field-label mt-4">Utilisateurs</label>
      <ul class="tag-list">
        <li class="tag" *ngFor="let userId of editTask?.userId_assigned; let i = index">
        <span>
        {{ getUserName(userId) }}
        </span>
<!--          TODO DELETEUSER(i)-->
          <button (click)="deleteTag(i)">X</button>
        </li>
      </ul>
<!--          TODO ADDUser(i)-->
    <select class="mt-4" formControlName="assignedUser" (change)="addUser()">
      <option value="Assigner un utilisateur">Assigner un utilisateur</option>
      <option *ngFor="let user of currentUserList()" [value]="user.id">{{ user.username }}</option>
    </select>
    </div>
  </form>
</app-modal>
