.tasks-container {
  display: grid;
  gap: var(--spacing-8);
}

.task-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-8);
}


.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-2);
  background-color: var(--neutral-color-2);
  padding: var(--spacing-8);
  font-weight: var(--font-weight-semi-bold);
  transition-duration: var(--transition-duration-1);
  transition-property: background-color;
  cursor: move;
}

.task-information {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.task-number {
  font-size: 1.25rem;
  color: var(--neutral-color-7);
}

.task-actions-container {
  display: flex;
  gap: var(--spacing-4);
}

.tooltip {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
