<body id="main-container">
  <section class="container-max">
    <form id="search-form" [formGroup]="searchForm" class="search-container" (submit)="performSearch()">
      <app-input-field name="search-input" type="search" label="Recherche" formControlName="search" placeholder="Folder 1" />
      <app-button type="submit">Rechercher</app-button>
    </form>
  </section>
  <section class="container-max">
    <app-modal-folder *ngIf="displayModal" [editFolder]="editFolder" (close)="displayModal = false" />
    <div class="folder-title">
      <h1 class="heading-1">Mes dossiers</h1>
      <app-button variation="secondary" (click)="openEditModal($event)">Ajouter un dossier</app-button>
    </div>
    <div class="folders-container">
      <a *ngFor="let folder of folderService.folders" [routerLink]="'/folder/'+folder.ID" class="folder-item">
        {{ folder.NAME }}
        <span class="folders-actions-container">
          <app-icon-button icon="pen-to-square" variation="secondary" (click)="openEditModal($event, folder.ID)" />
          <app-icon-button icon="trash" variation="secondary" (click)="deleteFolder($event, folder.ID)" />
        </span>
      </a>
    </div>
  </section>
</body>
